@import url("https://fonts.googleapis.com/css?family=Handlee|Raleway:300");
html {
  font-size: 12px;
}

#grasshopper {
  display: none;
}

#header-image {
  float: left;
}

#site-title {
  margin-left: 0;
  margin-top: 0;
}

.ic4f-nav a {
  display: block;
}
.ic4f-nav a:not(.last) {
  border-bottom: #eaeaea 1px solid;
}

.w-40 {
  width: 100%;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }

  #grasshopper {
    display: inline;
  }

  #header-image {
    float: right;
  }

  #site-title {
    margin-left: 100px;
    margin-top: -83px;
  }

  .ic4f-nav a {
    border-bottom: none !important;
    display: inline-block;
  }

  .w-40 {
    width: 65%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .w-40 {
    width: 40%;
  }
}
a {
  color: #05a9c5;
}

a:hover {
  color: #008000;
  text-decoration: none;
}

figcaption {
  line-height: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-size: 1.6rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #008000;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #05a9c5;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

#grasshopper {
  opacity: .7;
}

#header-photo {
  border: #00a600 1px solid;
  margin-top: 15px;
  padding: 3px;
}

#header-photo:hover {
  border-color: #06bad9;
  outline: 1px solid #06bad9;
}

#modal {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 5rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

#modal-caption {
  color: #ccc;
  font-size: 0.9rem;
  padding: 1rem;
}

#modal-img {
  border: #ccc 1px solid;
  max-height: 90%;
  max-width: 90%;
}

#site-tagline {
  font-family: 'Handlee', cursive;
  font-size: 1.1em;
  font-style: italic;
  margin: -7px 0 0 105px;
  position: relative;
}
#site-tagline a {
  color: #999;
}
#site-tagline a:hover {
  color: #008000;
}

#site-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.2em;
  position: relative;
}
#site-title a {
  color: #555;
}
#site-title a:hover {
  color: #008000;
}

.ic4f-blog-date {
  color: #999;
  font-size: .8rem;
  margin: -10px 0 5px 0;
}

.ic4f-blog-list-date {
  color: #999;
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1rem;
}

.ic4f-blog-list-excerpt {
  font-size: .9rem;
}

.ic4f-blog-list-more {
  font-size: .8rem;
}

.ic4f-blog-list-title {
  font-size: 1.1rem;
  margin: 0;
}
.ic4f-blog-list-title a {
  color: #008000;
}
.ic4f-blog-list-title a:hover {
  color: #05a9c5;
}

.ic4f-blog-sidebar h2 {
  font-size: 1rem;
  color: #999;
}
.ic4f-blog-sidebar ul {
  font-size: .8rem;
  line-height: 1rem;
  padding-left: 1.1rem;
}
.ic4f-blog-sidebar li {
  margin-bottom: .5rem;
}
.ic4f-blog-sidebar li:last-child {
  list-style: none;
}
.ic4f-blog-sidebar li:last-child a {
  color: #999;
}
.ic4f-blog-sidebar li:last-child a:hover {
  color: #05a9c5;
}

.ic4f-contact-row {
  margin-bottom: -5px;
  margin-top: 1px;
  text-align: right;
}
.ic4f-contact-row ul {
  margin: 0;
  padding: 0;
}
.ic4f-contact-row li {
  display: inline-block;
  font-size: .8rem;
  padding: 0 10px 0 0;
}
.ic4f-contact-row a {
  color: #aaa;
}
.ic4f-contact-row a:hover {
  color: #05a9c5;
}

.ic4f-container {
  max-width: 900px;
}

.ic4f-content {
  color: #555;
  font-family: verdana, sans-serif;
  font-size: .95rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
}
.ic4f-content img {
  border: 1px solid #999;
}

.ic4f-download {
  font-size: .85rem;
}

.ic4f-footer {
  color: #999;
  font-size: .8rem;
  padding-bottom: 1.5rem;
  padding-top: .7rem;
  text-align: right;
}

.ic4f-header-row {
  margin-bottom: 15px;
}

.ic4f-highlight {
  color: #ff8c00;
  font-style: italic;
  font-weight: bold;
}

.ic4f-hline {
  background: #eaeaea;
  height: 1px;
}

.ic4f-indent {
  margin-left: 20px;
}

.ic4f-list-img {
  width: 120px;
  margin-right: 1rem;
}

.ic4f-main-heading {
  margin-bottom: 1.1rem;
}

.ic4f-max-height-md {
  max-height: 320px;
}

.media h2 {
  font-size: 1.1rem;
  margin-bottom: .1rem;
}

/* none; used for js selection */
.ic4f-nav {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
}
.ic4f-nav a {
  color: #555;
  margin: 0;
  padding: .5rem;
}
.ic4f-nav a:hover {
  background: #f8f8f8;
  color: #008000;
}
.ic4f-nav a.active {
  background: #f1f1f1;
  color: #008000;
}
.ic4f-nav a.active:hover {
  background: #f8f8f8;
}

.ic4f-nowrap {
  white-space: nowrap;
}

.ic4f-pubs-all h1, .ic4f-pubs-project h1, .ic4f-pubs-all h2, .ic4f-pubs-project h2, .ic4f-pubs-all h3, .ic4f-pubs-project h3, .ic4f-pubs-all h4, .ic4f-pubs-project h4, .ic4f-pubs-all h5, .ic4f-pubs-project h5, .ic4f-pubs-all h6, .ic4f-pubs-project h6 {
  font-size: 1.3rem;
}
.ic4f-pubs-all h2, .ic4f-pubs-project h2 {
  font-size: 1.1rem;
}
.ic4f-pubs-all h3, .ic4f-pubs-project h3, .ic4f-pubs-all h4, .ic4f-pubs-project h4, .ic4f-pubs-all h5, .ic4f-pubs-project h5, .ic4f-pubs-all h6, .ic4f-pubs-project h6 {
  font-size: 1rem;
}

.ic4f-pubs-project {
  border-top: #eaeaea 1px solid;
  padding-top: 1rem;
}

/* none */
.ic4f-thumb:hover {
  border-color: #05a9c5;
  outline: 2px solid #05a9c5;
}

.ic4f-zoomin {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.ic4f-zoomin:hover {
  border-color: #05a9c5;
  outline: 2px solid #05a9c5;
}

.material-icons.md-18 {
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
